.signup-container
  %h2 Two Step Authentication
  %p A message has been sent to your mobile number with an authorization code.
  = form_for(:authy, url: { controller: :authy, action: :confirm }, html: { method: :post }) do |f|
    .field
      = f.text_field :auth_code, :placeholder => "Authorization Code", :autofocus => true
    .actions
      = f.submit "Continue"