.container_ui.clearfix
  .menu-bar.hidden-menu
    %ul
      %li
        %a#add_friend_btn{href: "#"}
          %i.fa.fa-users
          Add Friend
        %input#add_friend_input{type: "text", placeholder: "Your friend's username", autofocus: "true"}
      %li
        %a{href: "#"}
          %i.fa.fa-times
          Deactivate account
      %li
        %a{href: "#"}
          %i.fa.fa-sign-out
          Sign out
  .container_ui__heading
    .header_icon
      %i.fa.fa-envelope
    %a{href: "/"} 
      Whisper (
      = @user.username
      )
    .menu_icon
      .div
      .div
      .div
  - @friends.each do |f|
    - @channel_name = Conversation.where(u1_id: f.id)[0]
    - unless @channel_name
      - @channel_name = Conversation.where(u2_id: f.id)[0]
    %a.message{href: "/c/#{@channel_name.channel_name}" }
      .container_ui__item
        .face
          %img{:src => "#{f.gravatar_url}"}
          .color_bar.one
            %p Now Reading
            %span Read
        %h2 
          = f.username
        %h4 Lorem ipsum dolor sit amet...
