.container_ui.clearfix
  .menu-bar.hidden-menu
    %ul
      %li
        %a{href: "#"}
          %i.fa.fa-users
          Add Friend
      %li
        %a{href: "#"}
          %i.fa.fa-search
          Search for friends
      %li
        %a{href: "#"}
          %i.fa.fa-times
          Deactivate account
      %li
        %a{href: "#"}
          %i.fa.fa-sign-out
          Sign out
  .container_ui__heading
    .header_icon
      %img{:src => 'http://www.jamiecoulter.co.uk/dev/codepen/mail.png'}
    %h1 
      Whisper (
      = @user.username
      )
    .menu_icon
      .div
      .div
      .div
  
  .message
    .container_ui__item
      .face
        %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/gerrenlamson/128.jpg'}
        .color_bar.one
          %p Now Reading
          %span Read
      %h2 
        aspca
      %h3 subj: thanks, you are amazing
      %h4 Lorem ipsum dolor sit amet...
  
  .message
    .container_ui__item
      .face
        %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/boheme/128.jpg'}
        .color_bar.two
          %p Now Reading
          %span Read
      %h2 Nobel prize foundation
      %h3 subj: Your paper on molecular fusion
      %h4 We are awarding you the nobel...
  
  .message
    .container_ui__item
      .face
        %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/alexmarin/128.jpg'}
        .color_bar.three
          %p Now Reading
          %span Read
      %h2 megan fox
      %h3 subj: i miss you
      %h4 Where have you been? I've been trying to call you...
  
  .message
    .container_ui__item
      .face
        %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg'}
        .color_bar.four
          %p Now Reading
          %span Read
      %h2 Linkedin
      %h3 subj: Message from bill gates
      %h4 I want to add you to my personal network...
  
  .message
    .container_ui__item
      .face
        %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/128.jpg'}
        .color_bar.five
          %p Now Reading
          %span Read
      %h2 Jesse pinkman
      %h3 subj: Let's get together sometime yo!
      %h4 Hey, how's it going? You free at all this weekend...
  
  .message
    .container_ui__item
      .face
        %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg'}
        .color_bar.six
          %p Now Reading
          %span Read
      %h2 James cameron
      %h3 subj: avatar 2
      %h4 Please consider writing the script...