.signup-container#keys-window{:"data-view-name" => "your_keys"}
  %h2 Your Keys
  .key#public_k YOUR_PUBLIC_KEY
  %br
  %br
  %br
  .key#private_k YOUR_PRIVATE_KEY
  %a#claim-key{:href => "k"} Claim Public Key