/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,400);

.clearfix {
  &::before, &::after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.alert {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  text-align: center; 
  background-color: rgb(208, 94, 94);
  color: white;
}

.notice {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  text-align: center;
  background-color: rgb(172, 211, 93);
  color: white;
}


body{
  background-image:url('http://www.jamiecoulter.co.uk/dev/codepen/blurred_bg.jpg');
  font-family: 'Raleway', sans-serif;
  height: calc(100vh - 30px);
  margin: 0;
  padding: 0;
  .title{
    width: 750px;
    text-align: center;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color:white;
    top: 0;
    bottom: 0;
    &_inner{
      float:right;
      width:260px;
      text-align:left;
      position:relative;
      top:160px;
      h1{
        margin:0;
        text-transform:uppercase
      }
      h2{
        margin:0;
        font-weight:500;
        font-size:14px;
        line-height:24px;
        margin-top:15px;

      }
    }
  }
  .container{
    &_ui{
      max-width: 960px;
      position: relative;
      min-height: 486px;
      max-height: 500px;
      width: 95%;
      background:white;
      margin: 0 auto;
      margin-bottom: 30px;
      margin-top: 30px;
      box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      &.large-container {
        min-height: 580px;
      }
      &__heading{
        height:60px;
        width:100%;
        background: #333658;
        .header_icon{
          float:left;
          text-align:left;
          i {
            font-size: 20px;
            color: rgba(0, 0, 0, 0.26);
            position: relative;
            top: 18px;
            left: 18px;
          }
          img{
            margin:17px 20px 20px 20px;
            cursor:pointer;
          }
        }
        a{
          color:rgb(174, 177, 216);
          text-decoration: underline;
          text-transform:uppercase;
          font-weight:700;
          margin: 0 auto;
          font-size:12px;
          float:left;
          width:33%;
          letter-spacing:1px;
          line-height: 60px;
          text-align: center;
        }
        .header_icon{
          float:left;
          width:33%;
          height:40px
        }
        .menu_icon{
          float: right;
          text-align:right;
          position: relative;
          padding: 22px;
          padding-left: 0;
          padding-right: 0;
          right: 20px;
          cursor:pointer;
          div{
            width: 21px;
            height: 2px;
            float: right;
            display: block;
            margin-bottom: 3px;
            border-radius: 1px;
            clear: both;
            background: rgba(0, 0, 0, 0.26);
          }
        }
      }
      input[type="checkbox"]{
        display:none;
      }
      .message:hover > .container_ui__item .face .color_bar{
        width: 71px;
        transition-property:width;
        transition-duration:.4s;
        -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        span{
          opacity:1;
          transition-property:opacity;
          transition-duration:.2s;
          -webkit-transition-timing-function:linear;
          transition-delay:.3s;
        }
        p{
          opacity:0;
        }
      }
      input[type="checkbox"]:checked + .message > .container_ui__expand{
        transition-property:left,opacity;
        transition-duration:.4s;
        // left:380px;
        // z-index:-1;
        opacity:1;
        -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        pointer-events:none;
      }
      .container_ui__expand .message{
        width: 10px;
        position: absolute;
        right: 10px;
        top: 20px;
        font-size: 12px;
        font-weight: 700;
        color: rgb(166, 166, 166);
        &:hover{
          color:#444444
        }
      }
      input[type="checkbox"]:checked + .message > .container_ui__expand .message{
        pointer-events:auto;
        transition-property:width;
        transition-duration:.4s;
        -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      input[type="checkbox"]:checked + .message > .container_ui__expand .body .user .face img{
        animation:pop .5s .5s forwards; 
        -webkit-animation:pop .5s .5s forwards; 
      }
      input[type="checkbox"]:checked + .message > .container_ui__expand .body .user .details{
        animation:popup .5s .5s forwards; 
        -webkit-animation:popup .5s .5s forwards; 
      }
      input[type="checkbox"]:checked + .message > .container_ui__expand .body .content{
        animation:popup .5s .7s forwards; 
        -webkit-animation:popup .5s .7s forwards; 
      }
      input[type="checkbox"]:not(:checked) + .message > .container_ui__expand .body .user .face img{
        animation:poprev .5s .5s forwards;
        -webkit-animation:poprev .5s .5s forwards;
        transform:scale(0);
        transition-property:transform;
      }
      input[type="checkbox"]:not(:checked) + .message > .container_ui__expand .body .content{}
      transition-property:opacity,top;
      transition-duration:0.4s;
      animation:pop .5s forwards;
      -webkit-animation:pop .5s forwards;
      input[type="checkbox"]:checked + .message > .container_ui__item .face .color_bar{
        right:auto;
        width: 350px;
        height: 71px;
        transition-property:width;
        transition-duration:.4s;
        -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        p{
          opacity:1;
          transition-duration:.3s;
          transition-delay:0.4s;
          transition-property:opacity
        }
        span{
          display:none;

        }
      }
      .message{
        cursor: pointer;
        display: block;
        max-height: 71px;
        float: left;
        width: 100%;
        overflow: hidden;
        &:hover > .container_ui__item{
          background-color: #EAEAEA !important
        }
      }
      .message .container_ui__item{
        pointer-events:none;
      }
      &__item{
        width: 100%;
        float: left;
        height: 71px;
        text-align:left;
        color:black;
        box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
        color: white;
        background: #F5F5F5;
        cursor: pointer;
        h2,h3,h4{
          color:black;
        }
        h2{
          font-size: 11px;
          display: inline-block;
          color: #515151;
          text-transform: uppercase;
          font-weight: 800;
          margin: 10px 0px 0px 0px;
          padding-top: 0px;
        }
        h3{
          font-size: 12px;
          font-weight: 600;
          margin: 5px 0px 10px 0px;
          text-transform: uppercase;
          color: #B2B2B2;
        }
        h4{
          font-size: 12px;
          font-weight: 600;
          margin: 0;
          margin-top: 10px;
          color: #919191;
        }
        .face{
          float:left;
          clear:left;
          margin:0;
          margin-right:10px;
          position:relative;
          img{
            height: 71px;
          }
          .color_bar{
            float: right;
            width: 6px;
            background: rgb(86, 182, 153);
            position: absolute;
            right: 0;
            text-align:center;
            height: 71px;
            top: 0;
            z-index:1;
            -webkit-transition-property: width;
            transition-property: width;
            -webkit-transition-duration: .4s;
            transition-duration: .4s;
            -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            p{
              opacity:0;
              margin-top:26px;
            }
            span{
              opacity:0;
              font-size:12px;
              position:relative;
              top: -56px;
            }
          }
        }
      }
      .dot{
        width: 6px;
        height: 6px;
        background: #cdcdcd;
        border-radius: 100%;
        display: inline-block;
        position: relative;
        top: -1px;
        z-index:-0;
        left: 3px;
      }
      .active{
        background:rgb(108, 190, 99);
      }
      &__expand{
        width:350px;
        box-shadow: 20px 20px 0px rgba(0, 0, 0, 0.16);
        height: 486px;
        position:absolute;
        top:0;
        transition-delay:.2s;
        transition-property:left,opacity;
        opacity:0;
        transition-duration:.4s;
        left:0;
        z-index:-1;
        background:white;
        .body{
          .content{
            text-align:left;
            position:relative;
            top:10px;
            opacity:0;
            p{
              b{
                color:#444444;
              }
              text-align: justify;
              font-size:10px;
              line-height:20px;
              padding:25px;
              color:rgb(155, 155, 155);
              font-weight:500;
            }
            span{
              display:block;
              padding:0px 25px;
              font-weight:800;
              position:relative;
              top:-10px;
              font-size:10px;
              color:rgb(125, 125, 125);;
            }
            textarea{
              margin: 0px 25px;
              width: 295px;
              resize: none;
              border: 1px solid rgb(224, 224, 224);
              height: 60px;
              border-radius: 3px;
            }
          }
          .user{
            border-bottom: 1px solid rgb(236, 236, 236);
            height: 65px;

            .details{
              opacity:0;
              top:10px;
              position:relative;
              float:left;
              width: 240px;
              text-align: left;
              h2{
                font-size: 14px;
                display: inline-block;
                color: #515151;
                text-transform: uppercase;
                font-weight: 800;
                margin: 13px 0px 0px 0px;
                padding-top: 0px;
              }
              h3{
                font-size: 12px;
                font-weight: 300;
                margin: 5px 0px 10px 0px;
                text-transform: uppercase;
                color: #B2B2B2;
              }
              h4{
                font-size: 10px;
                font-weight: 600;
                margin: 0;
                color: #919191;
              }
            }
            .face{
              float: left;
              img{
                width: 40px;
                transform:scale(0);
                border-radius: 100%;
                border: 2px solid rgb(255, 255, 255);
                margin: 10px 25px;
              }
            }
          }
        }
        .heading{
          height: 10px;
          width: 100%;
          background: #56b699;
          &_head{
            h1{
              color: #aeb1d8;
              text-transform: uppercase;
              font-weight: 700;
              height: 10px;
              margin: 0;
              font-size: 12px;
              float: left;
              width: 100%;
              letter-spacing: 1px;
              line-height: 64px;
            }
          }
        }
      }
    }
  }
}

.one{

}

._0{
  background:#5674B6 !important;
}

._1{
  background:#D05E5E !important
}

._2{
  background:#ACD35D !important
}

._3{
  background:#EA9739 !important
}

._4{
  background:#B6568D !important
}

body .container_ui input[type="checkbox"]:checked + .message > .container_ui__expand a{
  pointer-events:auto;
}

// Let's do some animations!


@keyframes pop{
  0% {
    -webkit-transform:scale(0);
    transform:scale(0);
  }
  50% {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
  }
  100% {
    -webkit-transform:scale(1);
    transform:scale(1);
  }
}

@-webkit-keyframes pop{
  0% {
    -webkit-transform:scale(0);
    transform:scale(0);
  }
  50% {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
  }
  100% {
    -webkit-transform:scale(1);
    transform:scale(1);
  }
}

@keyframes poprev{
  0% {
    -webkit-transform:scale(1);
    transform:scale(1);
  }
  50% {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
  }
  100% {
    -webkit-transform:scale(0);
    transform:scale(0);
  }
}

@-webkit-keyframes poprev{
  0% {
    -webkit-transform:scale(1);
    transform:scale(1);
  }
  50% {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
  }
  100% {
    -webkit-transform:scale(0);
    transform:scale(0);
  }
}

@keyframes popup{
  from{top:10px;opacity:0}
  to{top:0px;opacity:1}
}

@-webkit-keyframes-popup{
  from{top:10px;opacity:0}
  to{top:0px;opacity:1}
}


.menu-bar {
	box-shadow: -7px 7px 15px 0px rgba(0, 0, 0, 0.4);
	width: 40%;
	min-width: 300px;
	height: calc(100% - 60px);
	right: 0;
	background: #333658;
	position: absolute;
	bottom: 0;
	-webkit-transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-webkit-transform-origin: right;
	transform-origin: right;
	-moz-transform-origin: right;
	ul {
		color: #FFF;
		list-style: none;
		padding: 0;
		li {
      overflow: hidden;
      position: relative;
			border-bottom: solid 1px #FFF;
			transition: 0.3s ease-in-out;
			-webkit-transition: 0.3s ease-in-out;
			-moz-transition: 0.3s ease-in-out;
			&:first-child {
				border-top: solid 1px #FFF;
			}
			&:hover {
				background-color: rgba(151, 154, 184, 0.2);
			}
			a {
				color: #FFF;
				text-decoration: none;
				display: block;
				padding: 10px;
				padding-left: 20px;
				line-height: 30px;
				i {
					margin-right: 10px;
					width: 23px;
					font-size: 23px;
					position: relative;
					top: 2px;
				}
			}
      input {
        @extend .transition-3;
        display: none;
        padding: 14px;
        padding-left: 0;
        padding-right: 0;
        text-indent: 14px;
        width: 100%;
        position: absolute;
        top: 1px;
        right: -500px;
        background: #FFF;
        font-size: 15px;
        border: solid 1px transparent;
      }
		}
	}
}

.hidden-menu {
	right: -405px;
}

/////////////////////////////////////////////////////////////////////////////////////


.signup-container {
  max-width: 1000px;
  width: 95%;
  padding: 30px;
  background-color: #FFF;
  margin: 30px auto;
  text-align: center;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  input:not([type="submit"]) {
    max-width: 295px;
    font-size: 16px;
    width: 90%;
    line-height: 30px;
    border: 1px solid #ABADB3;
    text-indent: 6px;
    margin-bottom: 10px;
    border-radius: 3px;
  }
  input[type="submit"] {
    @extend .green-btn;
  }
  input[type="checkbox"] {
    width: auto !important;
  }
  .or-separator {
    position: relative;
    width: 30px;
    background-color: white;
    top: -20px;
    left: 2px;
    margin: 0 auto;
  }
  hr {
    margin-top: 30px;
    width: 60%;
  }
}

.key {
  opacity: 0.5;
  word-break: break-all;
}

.green-btn {
  max-width: 295px;
  width: 90%;
  background-color: #56B699;
  color: #FFF;
  padding: 8px;
  border-radius: 3px;
  outline: none;
  border: solid 1px transparent;
  cursor: pointer;
  @extend .transition-3;
  &:hover {
    opacity: 0.8;
  }
}

.transition-3 {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.bare-link {
  color: #2b9ab6;
  text-decoration: underline;
}

.user-about {
  @extend .clearfix;
  padding: 5px;
  text-align: center;
  border-bottom: solid 1px #e3e3e3;
  .user-avatar {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  h3 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 16px;
  }
}

.messages-container {
  height: 300px;
  overflow: auto;
  .single-message {
    color: #FFF;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    &.sender {
      background-color: #56B699;
      float: right;
    }
    &.receiver {
      background-color: #D05E5E;
      float: left;
    }
  }
}

.reply-area {
  width: 100%;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  height: 80px;
  padding-top: 6px;
  text-indent: 10px;
  border-left: none;
  border-right: none;
  border-color: #e3e3e3;
  resize: none;
}

.reply-btn {
  @extend .green-btn;
  background-color: #EA9739;
  width: 100%;
  display: block;
  max-width: none;
  margin: 0 auto;
  text-align: center;
  line-height: 24px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.empty-container-text {
  text-align: center;
  padding-top: 100px;
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
  display: block;
}

.user-dropdown {
  display: none;
  div {
    cursor: pointer;
    background-color: #2b9ab6;
    color: #FFF;
    border-bottom: solid 1px #e3e3e3;
    padding: 10px;
    text-align: center;
    &:last-child {
      border-bottom: none;
    }
    &.selected {
      background-color: #0a1c28;
    }
  }
  span {
    display: block;
    width: 50%;
    margin: 5px auto;
    text-align: center;
    border-radius: 3px;
  }
}

.send-location {
  cursor: pointer;
  position: absolute;
  bottom: 72px;
  color: #56B699;
  font-size: 35px;
  right: 20px;
  &:hover {
    opacity: 0.8;
  }
}

#map-canvas {
  width: 150px;
  height: 150px;
}